@page

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignalR Demo</title>
    </head>
    <body>
        <h1>Demo</h1>
        <p>Se <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr?view=aspnetcore-3.1&tabs=visual-studio">MSDN</a></p>
        <div>
            User <input type="text" id="userInput" />
        </div>
        <div>Message <input type="text" id="messageInput" /></div>
        <div>
            <input type="button" id="sendButton" value="Send Message" />
        </div>
        <hr />
        <ul id="messagesList"></ul>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
    </body>
</html>

